
<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<title>zucchini.video</title>
<meta name="description"  content="uma plataforma de vídeos, séries e cursos online" />
<meta name="author" content="LILO.ZONE">
<meta name="keywords"  content="conteúdo maker, design, inovação e tecnologia, technology, design, maker, arduino, raspberry pi" />
<meta property="og:title" content="" />
<meta property="og:type" content="" />
<meta property="og:url" content="" />
<meta property="og:image" content="" />
<meta property="og:image:width" content="470" />
<meta property="og:image:height" content="246" />
<meta property="og:site_name" content="" />
<meta property="og:description" content="" />

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="theme-color" content="#212121"/>
<meta name="msapplication-navbutton-color" content="#212121"/>
<meta name="apple-mobile-web-app-status-bar-style" content="#212121"/>


<!-- CSS
================================================== -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!--	<link rel="stylesheet" href="css/bootstrap.min.css"/>-->
<link rel="stylesheet" href="css/font-awesome.min.css"/>
<link rel="stylesheet" href="css/style.css"/>
<link rel="stylesheet" href="css/colors/color.css"/>
<!--	<link rel="stylesheet" href="css/retina.css"/>-->

<!-- Favicons
================================================== -->
<link rel="icon" type="image/png" href="img/favicon.png">

